#include <Windows.h>
#include "Resource.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	1,0,0,0
PRODUCTVERSION 	1,0,0,0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	0L
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE     0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "LegalCopyright",   "(C) Yusuke Shinyama"
            VALUE "ProductName",      "KeyCept"
            VALUE "ProductVersion",   "1.0.0.0"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "FileDescription",  "KeyCept Application"
            VALUE "InternalName",     "keycept.exe"
            VALUE "OriginalFilename", "keycept.exe"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

IDI_KEYCEPT_ON ICON "KeyCeptOn.ico"
IDI_KEYCEPT_OFF ICON "KeyCeptOff.ico"
IDI_KEYCEPT_DISABLED ICON "KeyCeptDisabled.ico"

IDM_POPUPMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&On/Off", IDM_TOGGLE
        MENUITEM "Configure...", IDM_CONFIG
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
END

IDD_CONFIG_PANEL DIALOGEX 100, 100, 200, 100
STYLE WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_PALETTEWINDOW
CAPTION "KeyCept Configuration"
FONT 9, "Tahoma"
BEGIN
    GROUPBOX "Window Class", IDC_STATIC, 5, 0, 190, 25
    GROUPBOX "Keycode", IDC_STATIC, 5, 25, 190, 25
    LTEXT "Window", IDC_TEXT_WINDOW, 10, 10, 140, 12
    LTEXT "Keycode", IDC_TEXT_KEYCODE, 10, 35, 140, 12
    PUSHBUTTON "Copy", IDC_BUTTON_COPY_WINDOW, 155, 8, 35, 15
    PUSHBUTTON "Copy", IDC_BUTTON_COPY_KEYCODE, 155, 33, 35, 15
    PUSHBUTTON "Open Config File", IDC_BUTTON_OPEN, 5, 60, 190, 15
    PUSHBUTTON "Reload Config File", IDC_BUTTON_RELOAD, 5, 80, 190, 15
END

STRINGTABLE
BEGIN
    IDS_DEFAULT_CONFIG ";; Keycept.ini\n\n[Global]\nEnabled = 1\n\n"
END
